.container{
display: flex;
position: relative;
justify-content: space-between;
}

.img {
width:  600px;
height: 515px;
}

.button{
  border: 2px solid rgb(255, 255, 255);
  background-color: black;
  padding: 20px 20px;
  border-radius: 10px;
  cursor: pointer;
  

}